h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: blue;
}

.admin_group {
  background-color: lightblue;
}

.container-item {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  border-bottom-width: 1px;
  border-bottom-style: groove;
  /* padding: 10px; */
}

.container-item button {
  padding: 5px;
  margin: auto;
}

.admin_activity {
  display: none;
}

table {
  border: solid;
  width: 365px;
  text-align: center;
}
